* {
    font-family: Helvetica, arial;
    color: #fff;
}

section {
    width: 500px;
    background-color: rgb(38, 77, 183);
    height: 200px;
    border-radius: 1rem;
    padding: 12px;
}

.error {
    background-color: rgb(36, 36, 36);
}

.temperature {
    display: flex;
}

.temperatureText {
    font-size: 4rem;
    font-weight: 600;
}

.temperatureCircle {
    margin-top: 14px;
    margin-left: 4px;
}

.loading {
    max-width: 100%;
    height: auto;
    display: block;
}

.loadingBox {
    height: 200px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.unavailableData{
    max-width: 100%;
    height: auto;
    display: block;
    font-size: large;
    font-variant: small-caps;
}